.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-gap:;
  grid-auto-rows: minmax(150px, auto);

}

.one {
  grid-column: 1 / 10;
  grid-row: 1;
  background-color: #2ECC71;
}
.two {
  grid-column: 10/ 12;
  grid-row: 1;
  background-color:#2980B9;
}
.three {
  grid-column: 1/6;
  grid-row: 2/ 4;
  background-color: #E74C3C;
}
.four {
  grid-column: 6/9;
  grid-row: 2;
  background-color:#E67E22;
}
.five {
  grid-column: 9/12;
  grid-row: 2;
  background-color: #95A5A6;
}
.six {
  grid-column: 6/8;
  grid-row: 3;
  background-color: #F39C12;
}
.seven {
  grid-column: 8/10;
  grid-row: 3;
  background-color: #16A085;
}
.eight {
  grid-column: 10/12;
  grid-row: 3;
  background-color: #D35400;
}
.nine {
  grid-column: 1/12;
  grid-row: 4/7;
  background-color: #2C3E50;
}
